#-----------------------
# (c) H.Buchmann FHNW 2017
#adapt & copy /etc/udev/rules.d/90-usb-ether.rules
#----------------------- 
ACTION=="move", SUBSYSTEM=="net", \
RUN+="/home/joel/Desktop/tinL1/tinL_own/21-udev/src/usb-eth.sh enable $env{INTERFACE} $env{ID_VENDOR_ID}"

ACTION=="remove", SUBSYSTEM=="net", \
RUN+="/home/joel/Desktop/tinL1/tinL_own/21-udev/src/usb-eth.sh disable $env{INTERFACE} $env{ID_VENDOR_ID}"
